@import 'think201-wp';

.ct_success_msg
{
    font-size: 20px;
	padding-left: 15px;
	color: #368000;
}

.ct-msg
{
    font-size: 16px;
    display: none;
}

.ct-fields-container
{
    margin: 10px 0;
}

.ct-fields-container input, 
.ct-fields-container textarea, 
.ct-fields-container select
{
}

#ct-add-field
{
	cursor: pointer;
	font-size: 16px;
}

.ct-fields-set input 
{
    margin: 5px 0;    
}

.ct-inputs
{
    position: relative;
}

.ct-remove-field
{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 15px;
    color: #ff0010;
    font-size: 18px;
    z-index: 99;
}

#shortcode-holder 
{
    padding: 20px 0;
    color: #181818;
    font-size: 1.2rem;
    font-weight: bold;
}

.client-row
{
    margin: 10px auto; 
}

.client-col
{
    padding: 10px;
    text-align: center
}

.ct-scroller {
    width: 100%; 
    height: 250px; 
    margin: 0 auto;
    position: relative;

    .ct-inner-scroll {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;

        li {
            padding: 0;
            margin: 0;
            list-style-type: none;
            position: absolute;

            img {
                margin: 0 10px;
            }
        }
    }
}

.logo-icon {
    max-width: 100%;
}